<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>GODO</title>
  </head>
  <body>
    <div class="godo-container">
      <h1 class="godo-logo">GODO</h1>
      <div class="godo-wrapper">
        <form class="godo-form-header" method="post" action="/">
          <input
            placeholder="Your new task goes here.."
            class="godo-input"
            name="content"
            id="content"
            type="text"
          />
          <button id="submit-btn" class="godo-submit-btn" type="submit">
            Add
          </button>
        </form>
        <form class="godo-tasks-wrapper" method="POST" action="/">
          <ul class="godo-tasks-list">
            {{range $index, $element := .}} {{if not $element.IsDone}}
            <li class="godo-tasks-item">
              <input type="radio" name="done" value="{{$index}}" />
              <span>{{ $element.Content }}</span>
            </li>
            {{end}} {{end}}
          </ul>
          {{ if gt (len .) 0}}
          <div class="godo-taks-list-footer">
            <button type="submit" class="godo-taks-submit-btn">
              Submit Completed Tasks
            </button>
          </div>
          {{end}}
        </form>
      </div>
    </div>
  </body>
</html>
